body{
    font-family:"Nunito"
   }
   
   .navbar-mor{
   
    background-color: rgb(179, 11, 179);
    height:112px;
   }
   img{
   
    /* background-color: cyan; */
    position:relative;
    top:21px;
    left:21px;
   }
   .menu a{
    color:white;
    text-decoration: none;
    font-size:20px;
    font-weight:800;
   }
   .menu{
    color:white;
    position:absolute;
    top:50px;
    right:40px;
   }
   
   
   .navbar-turuncu{
   
    background-color:orange;
    padding:30px;
    text-align: center;
   position:sticky;
   top:0;
   
   }
   
   .navbar-turuncu a{
   
   text-decoration: none;
   color:black;
   font-weight:800;
   margin:0 3rem;
   
   }
   .slack{
   
    /* iconlar text ler gibi stil alır */
   
    background-color: red;
    color:white;
    border-radius: 50%;
    width:32px;
    height:32px;
    text-align: center;
    font-size: 24px;
    padding:3px;
   
    position:fixed;
    right:16px;
    bottom:16px;
   }